<%- include("header") -%>


<div id="container">
    <form action="/update" method="POST">
      <input type="text" name="nameUpdate" placeholder="Update User Name">
      <input type="text" name="detailsUpdate" placeholder="Update Details">
      <button type="submit" name="updateButtonNew" class ="" value= <%= user  %> > Update User </button>
  </form>
  </div> 



<%- include("footer") -%>
